SSL_CERTFILE=./tests/localhost.chain.pem
DOMAIN_NAME=s2connect.example.com
SUPPORTED_S2_VERSIONS='["v1"]'

# Client Specific settings used by s2auth.client.settings.ClientSettings
SERVER_URL=https://localhost.local:8000/v1
PAIRING_TOKEN=skJT
PAIRING_S2_NODE_ID=8c242317-698d-43ab-bfe2-5ce2971bc33f
CLIENT_S2_NODE_ID=
CLIENT_ROLE=RM
CLIENT_DEPLOYMENT=LAN
VERIFY_TLS=true
STORAGE_DB_URL=sqlite:///connection_details.db
SUPPORTED_HMAC_HASHING_ALGORITHMS='["SHA256"]'
CLEINT_BRAND=ExampleHeatCo
CLIENT_DEVICE_TYPE=Heatpump
CLIENT_MODEL_NAME=SmartHeatPump X200
