SQLALCHEMY_DB_URI=postgresql://postgres:postgres@localhost/s2auth
HMAC_SALT=s2.example.com

PAIRING_NODE_ID=pairnode1
SERVER_S2_NODE_ID=c299bcc9-8d46-4370-85c0-990a2483e6fa
SUPPORTED_COMMUNICATION_PROTOCOLS='["WebSocket"]'
SUPPORTED_S2_VERSIONS='["v0.02-beta"]'
SUPPORTED_S2_CONNECT_VERSIONS='["v1.0-beta-2"]'
CEM_S2_NODE_ID=efc634ee-1c42-4dcb-86a3-f3bc7c6cbca0
CEM_TYPE=server
CEM_MODEL_NAME=default
CEM_BRAND=s2auth
CEM_URL=http://localhost:8000/connection/
CEM_DEPLOYMENT_TYPE=WAN
