**.pyc
.idea/
.vscode/
.venv/
.pytest_cache/
.coverage
unit_test_coverage/
.mypy_cache/
venv
*.egg-info
*venv*
.tox/
dist/
build/
%LOCALAPPDATA%
src/s2auth/gen_protocol/server/connection_init/
src/s2auth/gen_protocol/server/pairing/
src/s2auth/gen_protocol/client/connection_init/
src/s2auth/gen_protocol/client/pairing/
# Client connection details
connection_details.db
/*/*/connection_details.db
docs_html
.env
