**.pyc
.idea/
.vscode/
.venv/
.pytest_cache/
.coverage
unit_test_coverage/
.mypy_cache/
venv
*.egg-info
*venv*
.tox/
dist/
build/
%LOCALAPPDATA%
src/s2auth/gen_protocol/connection_init/main.py
src/s2auth/gen_protocol/connection_init/models.py
src/s2auth/gen_protocol/pairing/main.py
src/s2auth/gen_protocol/pairing/models.py
